<% @accounts.each do |account| %>
  <div class="row account">
    <div class="col-md-10">
      <table class="table">
        <thead>
          <th>
            <h5><%= account %></h5>
            <h6><%= account.formatted_balance %></h6>
          </th>
          <th colspan="2"></th>
        </thead>
        <tbody>
          <% account.last_transaction_dates.each do |date| %>
            <% total = account.transactions_total(date) %>
            <% transactions = account.transactions_for(date).reject { |t| t.description.blank? } %>
            <tr>
              <th><%= date %></th>
              <td class="<%= amount_class(total) %>"><%= format(total, account.currency) %></td>
              <td>
                <% transactions.each_with_index do |t, idx| %>
                  <span class="<%= amount_class(t.amount) %>"><%= t.description %></span><% if idx + 1 < transactions.count %>,<% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= form_for(Transaction.new, html: { class: 'form-inline' }) do |f| %>
        <%= f.text_field :date, placeholder: 'Date', value: Time.zone.now.strftime('%Y-%m-%d'), class: 'form-control mr-md-2 mb-2 col-sm-12 col-md-3' %>
        <%= f.text_field :amount, placeholder: 'Amount', class: 'form-control mr-md-2 mb-2 col-sm-12 col-md-3' %>
        <%= f.text_field :description, placeholder: 'Description', class: 'form-control mr-md-2 mb-2 col-sm-12 col-md-3' %>
        <%= f.hidden_field :account_id, value: account.id %>
        <%= f.submit 'Submit', class: 'btn btn-primary mb-2 col-sm-12 col-md-2' %>
      <% end %>
    </div>
  </div>
<% end %>
