<!DOCTYPE html>
<html>
  <head>
    <title>Balance</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link <%= 'active' if current_controller?(:dashboard) %>" href="<%= root_path %>">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  <%= 'active' if current_controller?(:accounts) %>" href="<%= accounts_path %>">Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  <%= 'active' if current_controller?(:transactions) %>" href="<%= transactions_path %>">Transactions</a>
            </li>
          </ul>
        </nav>
        <a href="<%= root_path %>">
          <h3 class="text-muted">
            <% if user_signed_in? %>
              <%= total_balance %>
            <% else %>
              Balance
            <% end %>
          </h3>
        </a>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
